/* Reminder: CSS comments have to be done like this */
/* Id Selectors */
#externalcss{
    color:darkgoldenrod;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
#externalcss1{
    color: darkolivegreen;
    font-size: 6mm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* This is called an element selector(Ex: h2{ }, h3{ }, body{ } */
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large;
}
/* They can be grouped together too */
h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Layout of external and interal CSS code syntax: */
/* Selectors (h1), Declaration bracket ({) */
    /* Property: value(color: blue) */
/* Closing bracket(}) */


/* Class Selectors */
/* Class selectors use the . instead of the # */
.green{
    color: green
}
.red{
    color:red
}


/* Div and Span elements */
div{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
span{
    text-transform: uppercase;
}